/*!
 * Использованы данные с сайта www.kinopoisk.ru.
 * Фотографии с сайтов pikuco.ru и sun9-86.userapi.com.
 *
 */
.container {
  display: block;
  box-sizing: border-box;
  width: 800px;
  margin: auto;
  padding-top: 20px;
  /* border: 1px solid red; */
}

.box {
  display: flex;
  max-width: 100%;
  border-radius: 10px;
  background-color: ghostwhite;
  padding: 10px;
  font-size: 20px;
  margin: 10px 0;
}

.picture {
  box-sizing: border-box;
  position: relative;
  flex-grow: 0;
  width: 150px;
  height: 225px;
}

.img {
  position: absolute;
  width: 100%;
}

.description {
  /* width: 80%; */
  flex-grow: 1;
  /* border: 1px solid black; */
  margin: 0 25px;
}

.title {
  font-size: 24px;
  line-height: 2.5
}

.tr {
  text-align: left;
  line-height: 1.5
}

.divBtn {
  position: relative;
  box-sizing: border-box;
  width: 40%;
  height: 20%;
  border: 1px solid green;
  margin: 20px 0 20px 350px;
  /* left: 120px; */
}

.btn {
  background-color: red;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.footnote {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  max-width: 700px;
  /* height: 200px; */
  color: black;
  text-align: center;
  z-index: 997;
}

.footnote:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
  border-top-color : black;
  border-right-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  top: 100%;
  left: calc(50% - 15px);
  z-index: 998;
}

.footnote::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
  border-top-color : rgb(250, 250, 250);
  border-right-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  top: calc(100% - 2px);
  left: calc(50% - 15px);
  z-index: 999;
}

.footnote-title {
  width: 100%;
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
  background-color: rgb(214, 214, 214);
  text-align: center;
  font-size: 18px;
}

.footnote-text {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px;
  text-align: left;
  background-color: rgb(250, 250, 250);
}


